.download-button {
    border-radius: 50%;
    color: #9f9f9f;  
    background-color: white;
    font-size: 30px;
    height: 100px;
    width: 100px;
    position: absolute;
    bottom:0px;
    // right:25%;
    left:50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;

    &.youtube {
        color: #c4302b
    }
    &.instagram {
        color: #C13584
    }
    &.facebook {
        color: #3b5998
    }
    transition: color 2s ease-out;

    
}