<ion-header>
  <ion-toolbar>
    <ion-title>
      Video Downloader
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label position="floating">Enter a video link</ion-label>
    <ion-input [(ngModel)]="link" clear-input="true"></ion-input>
  </ion-item>
</ion-content>
<div *ngIf="previewSrc !== '' && !loading;">
  <ion-img *ngIf="!metadata.isVideo" [src]="previewSrc"></ion-img>
</div>
<div *ngIf="loading">
  Loading...
</div>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col style="text-align: center">
        <ion-button (click)="downloadPress()" [disabled]="link.length === 0">Download</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>