<app-background [color]="brand"></app-background>

<ion-content class="transparent" padding>
  <ion-grid>
    <ion-item class="light">
      <ion-label position="floating">Enter a video link</ion-label>
      <ion-input [disabled]="loadingMetadata || loadingVideo" [(ngModel)]="link" (ionBlur)="handleURL()"
        clear-input="true">
      </ion-input>
    </ion-item>
    <ion-list *ngIf="metadata?.formats?.length > 1">
      <ion-item>
        <ion-label>Quality</ion-label>
        <ion-select [(ngModel)]="selectedFormat">
          <ion-select-option *ngFor="let format of metadata.formats" [value]="format">{{format.label}}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </ion-grid>

  <app-brand-logo name="facebook"></app-brand-logo>
  <app-brand-logo name="youtube"></app-brand-logo>
  <app-brand-logo name="instagram"></app-brand-logo>

</ion-content>
<button *ngIf="showFooter && selectedFormat" class="download-button {{brand}}" [class.loading]="loadingVideo"
  (click)="downloadVideo()" [disabled]="!selectedFormat && !loadingVideo">
  <ion-icon name="download" *ngIf="!loadingVideo">
  </ion-icon>
  <div *ngIf="loadingVideo">
    {{progress}}
  </div>
</button>