<!-- <ion-header>
  <ion-toolbar>
    <ion-title>
      Video Downloader
    </ion-title>
  </ion-toolbar>
</ion-header> -->
<app-background [color]="brand"></app-background>

<ion-content class="transparent" padding>
  <ion-grid>
    <ion-item class="light">
      <ion-label position="floating">Enter a video link</ion-label>
      <ion-input [disabled]="loadingMetadata" [(ngModel)]="link" (ionBlur)="handleURL()" clear-input="true">
      </ion-input>
    </ion-item>
    <ion-list *ngIf="metadata?.formats?.length > 1">
      <ion-item>
        <ion-label>Calidad</ion-label>
        <ion-select placeholder="Calidad" [(ngModel)]="selectedFormat">
          <ion-select-option *ngFor="let format of metadata.formats" [value]="format">{{format.label}}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </ion-grid>
  <button class="download-button {{brand}}" (click)="downloadVideo()" [disabled]="!selectedFormat">
    <ion-icon name="download" *ngIf="!loadingVideo">
    </ion-icon>
    <div *ngIf="loadingVideo">
      {{progress}}
    </div>
  </button>
</ion-content>
<!-- <ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col style="text-align: center">
        <ion-button (click)="downloadVideo()" [disabled]="!selectedFormat">Download</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer> -->